---
# secrets / copy this file to secrets.yml before running your scripts. Update any required values

# SSH key

ssh_key: "ssh-rsa yourpublicsshkey"

# wifi settings
wifi_ssid: yourssid
wifi_pass: yourwifipassword
